:root{
    /* Colors */
    --bg: #0f0f0f;
    --text: #ffffff;
    --grey-19: #303030;
    --grey-67: #aaaaaa;
    --white-8: rgba(255, 255, 255, 0.08);
    --white-10: rgba(255, 255, 255, 0.1);
    --white-20: rgba(255, 255, 255, 0.2);

    --body-pd: 0 1.5rem 0 1rem;
    --header-height: 3.5rem;

    /* Text */
    --ff: "Roboto", sans-serif;
    --roboto-regular-10auto: 400 0.625rem/1.2 var(--ff);
    --roboto-regular-1218: 400 0.75rem/1.15 var(--ff);
    --roboto-regular-1420: 400 0.875rem/1.25 var(--ff);
    --roboto-regular-16auto: 400 1rem/auto var(--ff);
    --roboto-regular-1826: 400 0.875rem/1.25 var(--ff);
    --roboto-medium-1218: 500 0.75rem/1.15 var(--ff);
    --roboto-medium-1318: 500 0.8125rem/1.15 var(--ff);
    --roboto-medium-1420: 500 0.875rem/1.25 var(--ff);
    --roboto-medium-1436: 500 0.875rem/1.25 var(--ff);
    --roboto-medium-1622: 500 1rem/1.375 var(--ff);
    --roboto-bold-2028: 700 1.25rem/1.75 var(--ff);
    --roboto-bold-1826: 700 1.125rem/1.625 var(--ff);
    --ms-yahei-regular-1420: 400 0.875rem/1.25 var(--ff);
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--bg);
    color: var(--text);
    padding: var(--body-pd);
    font-family: var(--ff);
    max-height: 100vh;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
}

.header-start{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 100%;
}

.menu-icon{
    padding: 0.5rem;
    cursor: pointer;
}

.menu-icon:hover{
    background: var(--white-20);
}

.youtube-logo{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 8rem;
    cursor: pointer;
}

.youtube-logo .region{
    position: absolute;
    top: 1rem;
    right: 0;
    font: var(--roboto-regular-10auto);
    color: var(--grey-67);
}

.header-center{
    display: flex;
    justify-content: center;
    gap: 0.75rem;
}

.search-area{
    position: relative;
    display: flex;
    width: 33.5rem;
    height: fit-content;
    border-radius: 2.5rem;
    border: 1px solid var(--grey-19);
    overflow: hidden;
}

.search-box{
    width: 100%;
    font: var(--roboto-regular-16auto);
    background: var(--bg);
    outline: none;
    border: none;
    padding: 0.625rem 1rem;
}

.search-icon{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--white-8);
    border-left: 1px solid var(--grey-19);
    cursor: pointer;
}

.mic-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    outline: none;
    background: var(--white-10);
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.mic-button:hover{
    background: var(--white-20);
}

.header-end{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.create-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5625rem;
    padding: 0.5625rem 0.8125rem;
    background: var(--white-10);
    color: var(--text);
    font: var(--roboto-medium-1436);
    border: none;
    outline: none;
    border-radius: 2.5rem;
    cursor: pointer;
}

.create-btn:hover{
    background: var(--white-20);
}

.notification-btn{
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
}

.notification-btn:hover{
    background: var(--white-20);
}

.user-avatar{
    border-radius: 50%;
    cursor: pointer;
}